Check README for column name descriptions

Potential Questions:

1. Does number of league-wide HRs correlate with the 'steroid era'?
2. How often does the team with the best record win the WS?
3. Does total payroll correlate with win record?
4. Does

In [4]:
# checkout some of the data (2015 data used here)

import pandas as pd

batting_df = pd.read_csv('baseball/core/Batting.csv')

batting_df.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,25,118.0,30.0,32.0,6.0,...,13.0,8.0,1.0,4.0,0.0,NaN,NaN,NaN,NaN,NaN
2,allisar01,1871,1,CL1,NaN,29,137.0,28.0,40.0,4.0,...,19.0,3.0,1.0,2.0,5.0,NaN,NaN,NaN,NaN,NaN
3,allisdo01,1871,1,WS3,NaN,27,133.0,28.0,44.0,10.0,...,27.0,1.0,1.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN
4,ansonca01,1871,1,RC1,NaN,25,120.0,29.0,39.0,11.0,...,16.0,6.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN

In [13]:
rbi_avg_by_team_and_year = batting_df.groupby(['teamID', 'yearID']).mean()['RBI']

In [17]:
print rbi_avg_by_team_and_year.head()

teamID  yearID
ALT     1884            NaN
ANA     1997      22.142857
        1998      19.447368
        1999      17.710526
        2000      18.600000
Name: RBI, dtype: float64

In [22]:
hr_max_by_team_and_year = batting_df.groupby(['teamID', 'yearID']).max()['HR']

In [23]:
print hr_max_by_team_and_year.head()

teamID  yearID
ALT     1884       1.0
ANA     1997      33.0
        1998      26.0
        1999      33.0
        2000      47.0
Name: HR, dtype: float64